In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("spam.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
df.groupby('label').describe()

      Unnamed: 0                                                         \
           count    mean          std     min      25%     50%      75%
label
ham       3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
spam      1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50

              label_num
          max     count mean  std  min  25%  50%  75%  max
label
ham    3671.0    3672.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam   5170.0    1499.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [4]:
df['spam']=df['label'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

,Unnamed: 0,label,text,label_num,spam
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text,df.spam)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [15]:
emails = [
    'you have any different ideas or thoughts that i am not covering',
    'buy a home today bad credit no problem mortgage',
     'now to manage your mail ! http : / / www . topica . com / partner / tago 2 / register'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1, 0], dtype=int64)

In [9]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9767981438515081

In [10]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [11]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [12]:
clf.score(X_test,y_test)

0.9767981438515081

In [16]:
clf.predict(emails)

array([0, 1], dtype=int64)